.container {
  display: flex;
  height: calc(100vh - var(--nav-height));
  padding-top: var(--nav-height);
  position: relative;

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav {
    top: 0;
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    background: var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--horizontal-whitespace) + 0.866rem);
    color: var(--text-color-contrast);

    .navLinks {
      display: flex;
      gap: 1rem;
        * {
          color: var(--text-color-contrast);
          text-decoration: none;
          font-weight: 600;
          font-size: var(--font-lg);
        }
    }
  }
}
