.container {
  display: flex;
  height: calc(100vh - var(--nav-height));
  padding-top: var(--nav-height);
  position: relative;

  .backgroundOuterContainer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 96;
    width: 100vw;
    height: 100vh;

    .backgroundInnerContainer {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 96;
      width: 100vw;
      height: 100vh;

      .background {
        position: fixed;
        z-index: 95;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: var(--cross-background);
        image-rendering: optimizeQuality;
      }

      .backgroundHover {
        position: fixed;
        z-index: 95;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--cross-background);
        image-rendering: optimizeQuality;
        filter: brightness(0.6) contrast(12) blur(1px) opacity(0.5);
      }
    }
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 98;
  }

  nav {
    z-index: 98;
    top: 0;
    position: fixed;
    width: 100vw;
    top: var(--header-height);
    height: var(--nav-height);
    background: var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--horizontal-whitespace);
    color: var(--text-color-contrast);
    box-sizing: border-box;
    border-bottom: 1px solid var(--base-medium);
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .userContainer {
      margin-right: 0.125rem;
    }

    .navLinks {
      display: flex;
      gap: min(1rem, 2vw);
      padding-left: 0.866rem;
      margin: 0;
      * {
        padding: 0;
        margin: 0;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: min(1.5rem, 4vw);
      }
    }
  }

  header {
    top: 0;
    padding: 0 calc(var(--horizontal-whitespace) + 0.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header);
    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 98;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

    .logoImg {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 2px;
      font-variant: small-caps;
      color: white;

      img {
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.333));
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    .darkToggle {
      background: none;
      border: none;
      font-variant: small-caps;
      font-size: 1.5;
      height: 100%;
      align-items: flex-end;
      display: flex;
      padding: 0.5rem 0;
      font-size: 1rem;
      color: white;
    }
  }
}
