.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding);
  padding: var(--padding);
  width: calc(100% - var(--padding) * 2);

  .roomName {
    font-weight: 600;
  }

  .messages {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--base-medium);
    width: calc(100% - var(--padding) * 2);
    border-radius: var(--border-radius-medium);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 15rem;
    height: 15rem;
    width: 100%;

    .roomHasNoMessages {
      text-align: center;
      margin: auto;
      padding: var(--padding);
    }

    .message {
      width: 100%;
      text-align: left;
      padding: var(--padding-medium);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .downloadAttachment {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--padding);
        margin-bottom: calc(2 * var(--padding));
        svg {
          height: var(--font-lg);
          width: var(--font-lg);
        }
      }

      .error {
        padding: var(--padding);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-xs);
        gap: var(--padding);
        color: red;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.333));
        svg {
          height: var(--font-lg);
          width: var(--font-lg);
          fill: red;
        }
      }

      .pending {
        padding: var(--padding);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-xs);
        gap: var(--padding);
        .spinner {
          font-size: var(--font-md);
          animation-name: spin;
          animation-duration: 700ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          fill: var(--text-color);
          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.333);
        }
      }

      .userAndTextContent {
        width: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--padding);

        .messageContent {
          font-size: var(--font-xs);
          line-height: 1;
          padding: 0 calc(var(--padding) * 2);
          flex-grow: 1;
        }
      }

      .imageAttachment {
        margin-top: var(--padding);
        width: auto;
        height: auto;
        max-width: calc(100% - var(--padding-medium));
        border: 1px solid var(--base-medium);
        border-radius: var(--border-radius-medium);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.333);
        margin-bottom: calc(2 * var(--padding));
      }
    }

    .message:last-of-type {
      border-bottom: none;
    }
  }

  form {
    display: flex;
    gap: var(--padding);
    width: 100%;
    input {
      flex-grow: 1;
    }
  }

  .backButton {
    width: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
