.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding);
  padding: var(--padding);

  .messages {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--base-medium);
    width: calc(100% - var(--padding) * 2);
    border-radius: var(--border-radius-medium);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 15rem;
    height: 15rem;
    width: 100%;

    .roomHasNoMessages {
      text-align: center;
      margin: auto;
      padding: var(--padding);
    }

    .message {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--padding-small);
      width: 100%;
      text-align: left;
      padding: var(--padding-medium);
      box-sizing: border-box;

      .messageContent {
        font-size: var(--font-xs);
        line-height: 1;
        padding: 0 var(--padding);
        flex-grow: 1;
      }
    }

    .message:last-of-type {
      border-bottom: none;
    }
  }

  form {
    display: flex;
    gap: var(--padding);
    width: 100%;
    input {
      flex-grow: 1;
    }
  }

  .backButton {
    width: 100%;
  }
}
