.container {
  width: calc(100% - var(--padding) * 2);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: var(--padding-medium);
  button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
  }
}
