.container {
  padding: var(--padding);

  .back {
    width: 100%;
    margin-top: var(--padding);
  }

  .rooms {
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    .room {
      background-position: center;
      background-size: cover;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid var(--base-light);
      padding: var(--padding);
      gap: calc(2 * var(--padding));
      border-radius: var(--border-radius-medium);
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: var(--font-sm);
        font-weight: 300;
        margin: 0;
        padding: 0;
        line-height: 1;
      }

      .icons {
        display: flex;
        align-content: center;
        justify-content: center;
      }
    }
  }
}
