.container {
  padding: var(--padding);
  width: calc(100% - var(--padding) * 2);

  .back {
    width: 100%;
    margin-top: var(--padding);
  }

  .paginationControls {
    margin-top: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      height: fit-content;
      background: none;
      svg {
        margin-top: 0.1rem;
        font-size: var(--font-md);
      }
    }
    .pageNumber {
      font-size: var(--font-md);
    }
    .maxPage {
      font-size: var(--font-md);
    }
  }

  .rooms {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    height: 20rem;
    max-height: 20rem;
    overflow-y: auto;
    border: 1px solid var(--base-medium);
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);

    .room {
      background-position: center;
      background-size: cover;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid var(--base-light);
      padding: var(--padding);
      gap: calc(2 * var(--padding));
      border-radius: var(--border-radius-medium);
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: var(--font-sm);
        font-weight: 300;
        margin: 0;
        padding: 0;
        line-height: 1;
      }

      .icons {
        display: flex;
        align-content: center;
        justify-content: center;
      }
    }
  }
}
