.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: var(--padding);
  width: calc(100% - var(--padding) * 2);

  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:var(--padding);
    margin-bottom: var(--padding);
    svg {
      width: var(--font-lg);
      height: var(--font-lg);
    }
    h1 {
      padding: 0;
      margin: 0;
    }
  }

  hr {
    margin: 0;
    margin-bottom: 0.75rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--base-heavy);
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 50%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 50%,
      transparent 100%
    );
  }

  input {
    display: none;
  }

  .deleteAccountButton {
    background: red;
    color: white;
    font-weight: 600;
    font-size: var(--font-md);
    text-align: center;
    width: 100%;
  }

  p {
    margin: 0;
    padding: var(--padding);
    line-height: 1;
  }
}
